.notToScale {
  --primary: rgb(55, 46, 57);
  --secondary: rgb(244, 240, 232);
  --primary-variant: rgb(85, 70, 89);
  --secondary-variant: rgb(218, 205, 178);
}

.afterAugust {
  --primary: rgb(225, 225, 225);
  --secondary: rgb(18, 18, 18);
  --variant: rgb(85, 180, 104);
}

*::-webkit-scrollbar {
  display: none;
}

img {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.3);
}

video {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
