.overview {
  --primary: rgb(242, 236, 228);
  --secondary: rgb(64, 61, 57);
  --primary-variant: rgb(242, 218, 172);
  --secondary-variant: rgb(191, 174, 159);
  --detail: rgb(64, 61, 57);
  --detail-text: rgb(242, 236, 228);
}

.notToScale {
  --primary: rgb(244, 240, 232);
  --secondary: rgb(55, 46, 57);
  --primary-variant: rgb(218, 205, 178);
  --secondary-variant: rgb(85, 70, 89);
  --detail: rgb(55, 46, 57);
  --detail-text: rgb(244, 240, 232);

  /* FONT */
  .header-lg {
    font-family: Poppins, sans-serif;
    font-size: 110px;
  }

  .header-sm {
    font-family: Poppins, sans-serif;
    font-size: 40px;
  }

  .body-lg {
    font-family: Poppins, sans-serif;
    font-size: 28px;
  }

  .body-sm {
    font-family: Poppins, sans-serif;
    font-size: 20px;
  }
}

.afterAugust {
  /* COLORS */
  --primary: rgb(255, 255, 255);
  --secondary: rgb(18, 18, 18);
  --detail: rgb(85, 180, 104);
  --detail-text: rgb(18, 18, 18);

  /* FONT */
  .header-lg {
    font-family: Helvetica Neue, sans-serif;
    font-size: 110px;
  }

  .body-lg {
    font-family: Helvetica Neue, sans-serif;
    font-size: 28px;
  }

  .header-sm {
    font-family: Helvetica Neue, sans-serif;
    font-size: 40px;
  }

  .body-sm {
    font-family: Helvetica Neue, sans-serif;
    font-size: 20px;
  }
}

* {
  margin: 0;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

img {
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.3);
}

.sliderShadow {
  box-shadow: 0 11px 55px 0 rgba(0, 0, 0, 0.2);
}

video {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

button {
  border: none;
}
